<% if !@invoiceItem.blank? %>
  <div id="time-rpt-dlg" style="overflow-x:auto;">
    <style>
      table, tr, td, th {
      	border: none;
      }
    </style>
    <table border="1" cellspacing="0" ,="" align="center" cellpadding="5" style="    -webkit-print-color-adjust: exact !important;  print-color-adjust:    exact !important;">
      <tbody >
        <tr>
          <th height="20px" width="2%"></th>
          <th width="14%"></th>
          <th width="16%"></th>
          <th width="16%"></th>
          <th width="14%"></th>
          <th width="6%"></th>
          <th width="6%"></th>
          <th width="6%"></th>
          <th width="6%"></th>
          <th width="6%"></th>
          <th width="6%"></th>
          <th width="2%"></th>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td style="white-space:pre;font-size: xxx-large;" colspan="4"><%=h controller.getSupplierName(@invoice)  %></td>
          <td colspan="6" style="white-space: pre;"><%=h controller.getSupplierAddress(@invoice)  %></td>
        </tr>
        <tr>
          <th align="left" height="20px"></th>
        </tr>
        <tr style="width:100%;">
          <th align="left" colspan="5" height="20px" style="    background-color: #524eab;"></th>
          <th align="left" colspan="6" style="    background-color: #bfbfbf;"></th>
        </tr>
        <tr>
          <th height="20px"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td style="white-space:pre;" colspan="4">Facture pour:</td>
          <td colspan="6" rowspan="2" style="    font-size: x-large;    /* text-align: right; */">Facture</td>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td style="white-space:pre" colspan="4"><%=h controller.getCustomerName(@invoice) %></td>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td style="white-space:pre" colspan="4"></td>
          <td colspan="6" style="    /* text-align: right; */"><%=h @invoice.invoice_number %></td>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td style="white-space:pre" colspan="4"><%=h controller.getCustomerAddress(@invoice) %>  </td>
          <td colspan="6" style="    vertical-align: bottom;">Periode des travaux</td>
        </tr>
        <tr style="width:100%;">
          <td colspan="5" style="white-space:pre"></td>
          <td colspan="6" style="white-space:pre"><%=h @invoice.start_date.to_formatted_s(:long) + ' to ' + @invoice.end_date.to_formatted_s(:long) %></td>
        </tr>
        <tr>
          <th align="left" height="20px"></th>
        </tr>
        <tr style="width:100%;background-color: #524eab;color: white;">
          <th></th>
          <th colspan="4" align="left" >Item Description</th>
          <th colspan="2" align="center">Rate</th>
          <th colspan="2" align="center">Quantity</th>
          <th colspan="2" align="right">Montant</th>
          <th></th>
        </tr>
        <% @invoiceItem.each do | entry | %>
          <% if entry.item_type != 't' %>
            <tr style="width:100%;     border-bottom: solid;    border-bottom-color: #524eab;    border-bottom-width: thin;">
              <td style="background-color: #f2f2f2;"></td>
              <td colspan="4" style="background-color: #f2f2f2;" ><%=h entry.name %></td>
              <td colspan="2" align="center"><%=h "%.2f" % entry.rate unless entry.rate.blank? %> <%=h entry.original_currency %>/h</td>
              <td colspan="2" align="center"><%=h "%.2f" % entry.quantity unless entry.quantity.blank? %> h</td>
              <td colspan="2" align="right"><%=h "%.2f" % entry.original_amount unless entry.original_amount.blank?%> <%=h entry.original_currency %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th align="left" height="20px"></th>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td colspan="4">
          </td>
          <td colspan="7" style="padding: 0;" rowspan="6">
            <table style="width:100%;" cellspacing="0">
              <tbody>
                <tr style="width:100%;">
                  <td colspan="1" width="36%"></td>
                  <td colspan="1" width="36%"></td>
                  <td colspan="1" width="4%"></td>
                </tr>
                <tr>
                  <td colspan="1" style="text-align: right;background-color: #a5a5a5;color: white;line-height: 2;font-size: large;font-weight: bold;">Sous-Total:</td>
                  <td colspan="1" style="text-align: right;background-color: #a5a5a5;color: white;line-height: 2;font-size: large;font-weight: bold;"><%=h "%.2f" % @invoiceItem.where.not(:item_type => 't').sum(:original_amount) %> <%=h @invoiceItem[0].original_currency %></td>
                  <td colspan="1" style="    background-color: #a5a5a5;"></td>
                </tr>
                <% @invoiceItem.where(:item_type => 't').group_by(&:name).each do | name,items | %>
                    <tr style="width:100%;     border-bottom: solid;    border-bottom-color: #524eab;    border-bottom-width: thin;">
                      <td colspan="1" style="background-color: #f2f2f2; line-height: 2;" align="right" ><%=h name %></td>
                      <td colspan="1" style="background-color: #f2f2f2; line-height: 2;" align="right" ><%=h "%.2f" % items.sum {|i| i.original_amount.to_f} %> <%=h items[0].original_currency %></td>
                     <td colspan="1" style="    background-color: #f2f2f2;"></td>
                    </tr>
                <% end %>
                <tr>
                  <td colspan="1" style="text-align: right;background-color: #524eab; color: white; line-height: 2; font-size: large; font-weight: bold;">Total</td>
                  <td colspan="1" style="text-align: right; background-color: #524eab;color: white; line-height: 2; font-size: large; font-weight: bold;"><%=h "%.2f" % @invoiceItem.sum(:original_amount) %> <%=h @invoiceItem[0].original_currency %>  </td>
                  <td colspan="1" style="    background-color: #524eab;"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="width:100%;">
          <td>
          </td>
          <td>
          </td>
          <td style="text-align: right;border-top: solid;border-top-color: #524eab;"><%= controller.getDateLbl %></td>
          <td style="    border-top: solid;    border-top-color: #524eab;"><%=h @invoice.invoice_date.to_formatted_s(:long) %></td>
          <td></td>
        </td>
      </tr>
      <tr style="width:100%;">
        <td>
        </td>
        <td>
        </td>
        <td style="text-align: right;">Modalité</td>
        <td>30 jours</td>
        <td>
        </td>
      </td>
    </tr>
    <tr style="width:100%;">
      <td>
      </td>
      <td>
      </td>
      <td style="text-align: right;">Émis par</td>
      <td>SCAL</td>
      <td>
      </td>
    </td>
  </tr>
  <tr style="width:100%;">
    <td>
    </td>
    <td>
    </td>
    <td style="text-align: right;border-bottom: solid;border-bottom-color: #524eab;">Devise</td>
    <td style="border-bottom: solid; border-bottom-color: #524eab;">$ CAD</td>
    <td>
    </td>
  </td>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td colspan="4"></td>
</tr>
<tr>
  <th align="left" height="20px"></th>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td>
  </td>
  <td colspan="2" style="font-weight: bold;">Contact</td>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">Charly Simon</td>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">Téléphone (438)397-4376</td>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">Courriel csimon@scal-informatique.com</td>
</tr>
<tr>
  <th align="left" height="20px"></th>
</tr>
<tr style="width:100%;">
  <td>
  </td>
  <td colspan="7" style="    font-size: smaller;">Des frais de 2% mensuels composés quotidiennement seront chargés pour chaques jours de retard sur le paiement</td>
</tr>
</tbody>
</table>
</div>
<% else %>
  <label><b><%= l(:label_no_data) %></b></label>
<% end -%>
