<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
	actRelatedUrl="<%= "#{url_for(:controller => "wkcrm", :action => 'getActRelatedIds', :additionalContactType => controller.additionalContactType)}" %>";
</script>

<%= form_tag({:controller => 'wkopportunity', :action => 'update'}, :method => :get, :id => 'query_form') do %>
<%=h hidden_field_tag('opp_id', (!@oppEditEntry.blank? ? @oppEditEntry[0].id : "") ) %>



<div class="splitcontent">
	<div class="splitcontentleft">
		<%= render partial: "opportunity_info", locals: { }%>
	</div>
	<div class="splitcontentright">
		<%= render partial: "contact_info", locals: {  }%>
	</div>
</div>



<div>
	<%= submit_tag l(:button_save) ,:id => 'wkopportunity_save'%>
</div>
	
<% end %>
<% unless @oppEditEntry.blank? %>
	</br>
	<div>
		<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @oppEditEntry[0] }%>
	</div>
<% end %>
