<h2><%= l(:label_opportunity_plural) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<% query_params = request.query_parameters %>
<script type="text/javascript"> 
   
	blgaccUrl = '<%=url_for(:controller => "wkcrmaccount", :action => "index", :tab => "wkcrmaccount")%>';
	crmleadsUrl = '<%=url_for(:controller => "wklead", :action => "index", :tab => "wklead")%>';
    crmopportunityUrl = '<%=url_for(:controller => "wkopportunity", :action => "index", :tab => "wkopportunity")%>';
	crmactivityUrl = '<%=url_for(:controller => "wkcrmactivity", :action => "index", :tab => "wkcrmactivity")%>';
	crmcontactUrl = '<%=url_for(:controller => "wkcrmcontact", :action => "index", :tab => "wkcrmcontact")%>';	
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>
<%= form_tag({:controller => "wkopportunity", :action => 'index', :tab => "wkopportunity"}, :method => :post, :id => 'query_form') do %>
	<%=h hidden_field_tag('tab', "wkopportunity") %>
	<%= hidden_field_tag "searchlist", "wkopportunity" %>
	<%	accname = session[:wkopportunity].try(:[], :oppname) %>
	<%	accId = session[:wkopportunity].try(:[], :account_id) %>
	<%	accArr = options_for_wktime_account(true, 'A') %>
	<fieldset>
		<table>
			<tr>
				<th><label for='name' style="float:left;"><%= l(:label_opportunity) + " " + l(:field_name) %></label></th>
				<td><%= text_field_tag 'oppname', session[controller_name].try(:[], :oppname), :size => 30, :style=> "float: left;" %></td>
				
				<th><label style="float:left;padding-left: 10px;"><%= l(:label_account_name) %></label></th>
				<td><%=h select_tag('account_id', options_for_select(accArr,  :selected => session[controller_name].try(:[], :account_id)), :style=> "float: left;") %></td>
				
				<th><label style="padding-left: 10px;"><%= l(:field_status) %></label></th>
					<%  salestageArr = Array.new
						salestageArr = WkCrmEnumeration.where(:enum_type => "SS", :active => 1).order(enum_type: :asc, position: :asc).pluck(:name,:id)
						salestageArr.unshift(["",''])
					%> 	
					<td><%=h select_tag('status', options_for_select(salestageArr, :selected => session[controller_name].try(:[], :status))) %></td>
				
				<th><label for='assigned_user' style="padding-left: 10px;"><%= l(:field_assigned_to) %></label></th>
				<td><%=h select_tag("assigned_user_id", options_for_select(groupOfUsers, :selected => session[controller_name].try(:[], :assigned_user_id) )) %> </td>
				
			</tr>
		</table>
	</fieldset>				
	<div class="wk-contextual">
			<%= link_to l(:label_new_item_adjusted, l(:label_opportunity)), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-time-add' %>
	</div>
	<p><%= render :partial => 'wkopportunity/date_range' %></p>
<% end %>
<%= render :partial => 'wkopportunity/opportunity_list', locals: { opportunities: @opportunity} %>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>